<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Hello, world!</title>
  </head>
  <body>
    <main class="container">
  <h1>Bienvenido, {{ user.first_name }} {{ user.last_name }}!</h1>
  <h1>Tu rol es: {{user.role}}</h1> 
<table id="main" role="grid">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Thumbnail</th>
    <th>Stock</th>
    <th>Code</th>
  </tr>
         {{#each payload}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.thumbnail}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.code}}</td>
    </tr>
  {{/each}}
  </table>
    </main>
  </body>
</html>